#navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.dropdown-menu {
  background-color: grey;
}

.menu-hidden {
  display: none;
}
